[submodule "plugins/pi-btw"]
	path = plugins/pi-btw
	url = https://github.com/ThbltLmr/pi-btw.git
[submodule "plugins/pi-modal-editor"]
	path = plugins/pi-modal-editor
	url = https://github.com/ThbltLmr/pi-modal-editor.git
[submodule "plugins/pi-starship-footer"]
	path = plugins/pi-starship-footer
	url = https://github.com/ThbltLmr/pi-starship-footer.git
[submodule "plugins/pi-stash"]
	path = plugins/pi-stash
	url = https://github.com/ThbltLmr/pi-stash.git
[submodule "plugins/pi-subagents"]
	path = plugins/pi-subagents
	url = https://github.com/ThbltLmr/pi-subagents.git
	branch = personal
